body {
    background-color: bisque;
}
.example {
  
    writing-mode: horizontal-tb;
    text-orientation: sideways-right;
    
    }
}
.abpage {
    background-color: rgb(96, 103, 232)
}  
.h2tema { background-color: blueviolet

}